ion-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    width: 100%;
    height: 9vh;
    height: 4rem;
    transition: all 0.2s linear;
    padding: 0px 3%;
    border-radius: 0 0 30px 0;
    background-color: rgb(255, 56, 76) !important;
}

ion-title{
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.mainContent {
    padding: 20px;
    border-radius: 8px;
  }
  
  .head_lbl {
    font-weight: 700;
    font-size: 22px;
    color: #333;
    margin-bottom: 20px;
    text-transform: uppercase;
  }
  
  .card_div {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;

    transition: all 0.3s ease;
  }
  
  .card_div:hover {
    transform: scale(1.03); /* Slight zoom effect on hover */
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
  }
  
  .back_image {
    width: 120px;
    height: 120px;
    border-radius: 8px;
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .content_div {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .content_div ion-label {
    margin-bottom: 10px;
  }
  
  .title {
    font-weight: 600;
    font-size: 18px;
    color: #333;
  }
  
  .small {
    color: rgb(71, 71, 71);
    font-size: 14px;
  }
  
  .veg {
    color: green;
    font-weight: bold;
  }
  
  .nonVeg {
    color: red;
    font-weight: bold;
  }
  
  .card_div .title {
    font-size: 16px;
    color: rgb(255, 56, 76);
  }
  


@media (prefers-color-scheme: dark) {
    .head_lbl {
        color: #dadada;
      }

      .small {
        color: rgb(190, 190, 190);
        font-size: 14px;
      }

      .card_div {
        box-shadow: 0px 4px 8px rgba(182, 182, 182, 0.15);

      }
      
      .card_div:hover {
        box-shadow: 0px 6px 12px rgba(167, 167, 167, 0.2);
      }
}